<h1>Lecturer Student Feedback</h1>
<div class="row">
<div class="medium-4-columns">
    <p> This is a website that is focused on getting feedback between the lecturer and student
    It also helps a lecturer to keep his schedule with the students</p>
